/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

body { font-family: 'lato' , sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.7;
    }

h1 { font-size: 30px;
  font-weight: 700;
 }

h2 { font-size: 23px;
  font-weight: 700;
 }

h3 { font-size: 20px;
  font-weight: 700;
 }

a{
color: #357b70;
}

a:visited { color: #05676e;
/* a visited link */;
}

a:hover, a:focus { text-decoration: none;
/* no underlining when hovering over a link */
color: #72bcd4;
}

a:active { color: #489c79;
/* selected link */;
}
.navigation-list_item {
border: none;
text-decoration: none;
display: inline-block;
border-bottom: 2px solid darkgrey;
padding: 5px;
border-top: 2px solid darkgrey;
border-left: 2px solid darkgrey;
border-right: 2px solid darkgrey;
border-radius: 8px;
background-color:lightgrey;
}

.button { /*overwrites browser defaults and resets the border */
      border: none;
      display:inline-block;
      /* takes the font from the outer container */
      font-family: inherit;                  
      /* styles the backround color, font color, and text decoration of the button */
      background-color: #357b70;
      color: white;
      text-decoration: none;
      /* adds spacing to the button */
      padding: 10px;
      border-radius: 3px;
      /* gives the button a bottom border with a width of 2 px, a type of solid,
      and a color in rgba format */ 
      border-bottom: 2px solid rgba(0,0,0,0.3);
      -webkit-transition: 0.2s opacity;
      -o-transition: 0.2s opacity;
      transition: 0.2s opacity; 
     }

button { /*overwrites browser defaults and resets the border */
      border: none;
      display:inline-block;
      /* takes the font from the outer container */
      font-family: inherit;                  
      /* styles the backround color, font color, and text decoration of the button */
      background-color: #357b70;
      color: white;
      text-decoration: none;
      /* adds spacing to the button */
      padding: 10px;
      border-radius: 3px;
      /* gives the button a bottom border with a width of 2 px, a type of solid,
      and a color in rgba format */ 
      border-bottom: 2px solid rgba(0,0,0,0.3);
      -webkit-transition: 0.2s opacity;
      -o-transition: 0.2s opacity;
      transition: 0.2s opacity; 
     }


     

.button:hover,
.button:focus, 
 button:hover, 
 button:focus{
 cursor: pointer;
 opacity: 0.8;
 }

 .button_secondary{ background-color: undefined;
                     color: #2b2b2b;
  }

/*  div {
 padding: 10px;  adds a 10px inner spacing to all sides 
 margin: 10px;  adds a 10 px outer spacing to all sides
 border: 1px solid black;  attributes describe thickness, type, and color
} */

.header_title {
/* no spacing to top and bottom, and auto spacing to left and right.
which centers the container horizontally*/
margin: 0 auto;
}

.article {
 display: inline-block;

}

.article_graphic--inline {
 display: inline-block;

}

.navigation_logo {
position: relative;
top: 20px;
left: 20px
}

.profile_portrait {
float:left;
width: 250px;
margin-right: 40px;
border-radius: 50%;
}

.page-footer {
clear: both;
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
text-align: center;
}

.link-list_item {
text-decoration: none;


}

.profile {
max-width: 700px;
margin: 0 auto;
text-align: center;
font-weight: 450;

}

* {
-webkit-box-sizing: border-box;
       box-sizing: border-box;

}

.page-header {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
width: 100%;
padding: 20px;

}

.page-header_item {
-webkit-box-flex: 0;
  -ms-flex: 0 1 40px;
      flex: 0 1 40px;

}

.page-header_item:last-child {
-webkit-box-flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
text-align: right;

}

.navigation-list {
list-style-type: none;

}
.navigation-list li {
display: inline-block;
margin-left: 15px;

}

.navigation-list_item--active{ text-decoration: none;
}


.grid {
display: -ms-grid;
display: grid;
-ms-grid-columns: 1fr 20px 1fr 20px 1fr;
grid-template-columns: 1fr 1fr 1fr;
text-align: center;
grid-gap: 20px;
}

.grid_item {
background-color: #D3D3D3;
}

@media all and (max-width:500px) {
.grid {
-ms-grid-columns: 1fr;
grid-template-columns: 1fr;
grid-gap: 10px;
}
.grid_item:last-child {
grid-column: auto / auto;
grid-row: auto / auto;
}
h1 {
font-size: 22px;
}
}

@media all and (min-width:500px) and (max-width:750px)  {
.grid {
 -ms-grid-columns: 1fr 10px 1fr;
 grid-template-columns: 1fr 1fr;
 grid-gap: 10px;
}
.grid_item:last-child {
grid-column: auto / auto;
grid-row: auto / auto;
}
h1 {
 font-size: 22px;
 }
}

@media all and (max-width: 500px) {
 .grid {
   -ms-grid-columns: 1fr;
   grid-template-columns: 1fr;
 }
}
@media all and (min-width: 500px) and (max-width: 750px){
 .grid {
   -ms-grid-columns: 1fr 10px 1fr;
   grid-template-columns: 1fr 1fr;
 }
}
@media all and (max-width: 750px) {
 .grid {
   grid-gap: 10px;
 }
 .grid__item:last-child {
   grid-column: auto / auto;
   grid-row: auto / auto;
 }
 h1 {
   font-size: 22px;
 }
}

@-webkit-keyframes color-change {
0% {
  fill: #edc655;
}
50% {
  fill: #fcffad;
}
100% {
  fill: #f76414;
}
}

@keyframes color-change {
0% {
  fill: #edc655;
}
50% {
  fill: #fcffad;
}
100% {
  fill: #f76414;
}
}

.sun {
-webkit-animation: 4s color-change infinite alternate linear;
        animation: 4s color-change infinite alternate linear;

}

@-webkit-keyframes cloud-move {
from {
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
}
to {
  -webkit-transform: translate(200px, 50px);
          transform: translate(200px, 50px);
}
}

@keyframes cloud-move {
from {
  -webkit-transform: translate(0, 50px);
          transform: translate(0, 50px);
}
to {
  -webkit-transform: translate(200px, 50px);
          transform: translate(200px, 50px);
}
}

.cloud-front {
 -webkit-animation: 30s cloud-move infinite alternate linear;
         animation: 30s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
 from {
   -webkit-transform: translate(446px, 48px);
           transform: translate(446px, 48px);
 }
to {
  -webkit-transform: translate(100px, 48px);
          transform: translate(100px, 48px);
}
}

@keyframes cloud-move-reverse {
 from {
   -webkit-transform: translate(446px, 48px);
           transform: translate(446px, 48px);
 }
to {
  -webkit-transform: translate(100px, 48px);
          transform: translate(100px, 48px);
}
}

.cloud-back {
 -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
         animation: 34s cloud-move-reverse infinite alternate linear;
}















/*
colors used
background-color(light gray)
text-color(darkgray)#2b2b2b;
primary color(purple)#357b70;
secondary color(orange)#e0b354;
*/
